<div class="container">

  <figure class="text-center">
    <blockquote class="blockquote">
      <h1 class="display-2">Food Calorie Counter</h1>
    </blockquote>
    <figcaption class="blockquote-footer">Gladys Wambura</figcaption>
  </figure><br>

  <p class="fw-normal  fs-6">
    " A healthy diet should contain calorie-dense foods, as well as those that are lower in calories.
    Healthy eating is an important wellness goal for many people. We know that for healthy eating to be doable
    and sustainable, it has to be realistic. You are at the center of your healthy eating journey, and we are
    here to support you in finding a long-term, healthy eating pattern that works for your needs, preferences,
    and culture."</p>

  <p class="fs-5">
    <br><br><strong><i> In this Application, you log foods that you have eaten in a simple form, then check whether
        it is low/high calorie food. <br>Scroll Down to fill the form </i></strong>
  </p>


  <div id="carouselSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/calorie food img.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/calorie food 2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/calorie 4.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

</div>
