<!-- output table -->
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Food</th>
        <th scope="col">Calorie</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Ugali and Beef</td>
        <td>50</td>
        <td>a quarter beef meet and two pieces of Ugali</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Rice and Beans</td>
        <td>100</td>
        <td>a plate</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>chapati-chicken && a glass of milk</td>
        <td>300</td>
        <td>protenios meal</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td colspan="2">Larry the Bird</td>
        <td>am a foodie</td>
      </tr>
    </tbody>
  </table>

  <!-- Less than 500 Calories button -->
  <!-- <button class="btn btn-success" (click)="lessThanButtonClick()">Less than 500 Calories </button>
  <span> {{moreThan}}</span><br><br> -->

  <!-- More than 500 Calories button -->
  <!-- <button class="btn btn-danger" (click)="moreThanButtonClick()">More than 500 Calories </button>
  <span> {{lessThan}}</span><br><br> -->